body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-family: montserrat;
  background-image: url(background3.jpg);
  background-size: cover;
  height: 100vh;
}
/*this codes are used for navigation bar*/
.button {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 30px;
  height: 21px;
  top: 0.75rem;
  right: 1rem;
  justify-content: space-between;
}
.menu-bar {
  font-size: 2rem;
  color: white;
  display: none;
}
.welcome-msg {
  font-size: 5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 8px 8px 15px #3f2323;
  transition: 0.5s all ease;
}

.menu {
  background-color: #088FD2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: -17px;
  margin-right: -5px;
  margin-left: -5px;
}

.menu ul {
  list-style-type: none;

}
.menu ul li {
  display: inline-flex;
  width: 180px;
  margin: 10px;
  padding: 8px;

}
.menu ul li a {
  text-decoration: none;
  color: white;

}
.on,.menu ul li:hover {
  background-color: #05ACCD;
  border-radius: 3px;
}

/*this codes are used for responsive page*/
@media (max-width: 700px) {
  .button {
    display: flex;
  }
  .navbar {
    width: 0;
    margin: 10px;
    display: none;
    color: white;
  }
  .navbar.show {
    display: block;
  }
  .menu-bar {
    display: block;
  }
  .welcome-msg {
    font-size: 1rem;
  }
  body{
    background-image:url(responsive.jpg);
  }

}

/*this codes are used in home page(index.html)*/
.introduce {
  text-align: center;
  font-size: 5vw;
  margin-top: 15%;
  background: linear-gradient(20deg,#ff0000,#00FFFF,#FFF380,#F70D1A,#8D38C9);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  animation: animate 10s linear infinite;
  background-size: 400%;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
   100%{
    background-position: 400%;
  }
}

/*this codes are used in contact page*/
.contact {
  float: right;
  background-color: #dcdcdc;
  margin-top: 32px;
  margin-left: 2vw;
}

form {
  color: black;
}

fieldset {
  background-color: #dcdcdc;
}

.cont {
  color: white;
  text-shadow: 4px 4px 5px black;
}

.cont1{
  margin-left: -15px;
}

/*this codes are used in submit page*/
.submit {
  text-align: center;
  border: 8px ridge #291DE2;
  color: white;
  border-radius: 5px;
  height: 100vh;
  background-color: transparent;
}

.submit h1{
  font-size: 6vw;
}
.submit h2{
  font-size: 3vw;
}

.submit h3 a{
  border:3px solid;
  font-size: 2vw;
  text-decoration: none;
  color: lightgreen;
  border-radius: 5px;
}


/*this codes are used in cv page*/
.cv {
  color: black;
  margin-left: -8px;
  margin-top: -19px;
  background-color: white;
  margin-right: -8px;
}



.topic{
color: white;
padding: 10px;
background: linear-gradient(120deg,#2B3856,#657383,#2B547E,#15317E);
}

.center{
  text-align: center;
}

.photo {
  padding: 0px;
  border-radius: 50%;
  width :15%;
   height: 200px;
   float: right;
  
}
.cv table,tr,th{
  border:1px solid  ;
  width: 50%;
}

/*this codes are used in portfolio page*/
.desc {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 5px brown;
  margin-top: 15px;
}

.placeholder {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding: 10px;
}

.placeholder1 {
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 64%;
  height: auto;
}

/*this codes are used in site report page*/
.report{
  border-radius: 5px;
  border: 8px ridge;
  border-color:#838388;
  background-image: url(reportphoto1.jpg);
  margin-left: -8px;
  margin-right: -10px;
 

}

.sitetopic{
  color: white;
  margin:15px;
  background: linear-gradient(120deg,#00FFFF,#FFF380,#F70D1A,#8D38C9);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.sitetopic1{
  color: white;
  font-family:Arial; 
  font-weight: bold;
  margin: 10px; 
  padding: 8px;
}
.paragraph{
  color: white;
  margin: 10px;
  padding: 8px;
  width: 80%;


}
.validphoto{
  margin:10px;
  padding: 10px;
  width: 80%;
}